
.placeholder{background-color: rgb(200,200,225);
  border: 2px solid rgb(50,50,100);
}

section h2 {
  font-size: 10pt;
  text-transform: uppercase;
  color: #999;
}

section .ban {
  font-size: 20pt;
  color: rgb(35,95,163);
  font-weight:bold;
}

tr.current_sprint{border-left: 12px solid green;}

#taskTable > tbody tr {}
tr.current_sprint {border-left:12ox solid #eee}

#taskTable > tbody tr {}
tr.current_sprint {border-left:12ox solid rgb(35,95,163)}
